.header {
    text-align: center;
    background: rgb(0, 0, 0);
    color: white;
    padding: 2px;
    margin-bottom: 50px;
}

.header h1 {
    font-weight: bolder;
}

main {
    width: 100%;
    padding-inline: 5%;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: space-around;
}

.model-Container {
    text-align: center;
    height: 50px;
}

.disc-container {
    text-align: center;
    height: 60px;
    overflow: hidden;
    margin-block: 10px;
    font-size: small;
}